<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.palmdev.learn_german"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learn_German">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AD_APP_ID"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_push" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name="com.palmdev.learn_german.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.SelectDayActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Repeat"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Shop"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Settings"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.PromoCode"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.SelectGame"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Games.Game_01"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Games.Game_01_End"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Games.Game_02"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Games.Game_03"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.SelectLang"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.palmdev.learn_german.Levels.Level1"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level1_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.palmdev.learn_german.Levels.Level2"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level2_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level3"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level3_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level4"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level4_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level5"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level5_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level6"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level6_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level7"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level7_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level8"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level8_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level9"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level9_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level10"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level10_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level11"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level11_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level12"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level12_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level13"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level13_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level14"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level14_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level15"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level15_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level16"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level16_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level17"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level17_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level18"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level18_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level19"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level19_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level20"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level20_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level21"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level21_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level22"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level22_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level23"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level23_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level24"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level24_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level25"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level25_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level26"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level26_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level27"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level27_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level28"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level28_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level29"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level29_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels.Level30"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.palmdev.learn_german.Levels_Start.Level30_Start"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>